<%= form_with(model: @post, url: posts_path,) do |f| %>
  <div class="field has-addons">
    <div class="control container">
      <%= f.text_area :body, id: 'post-input', class: 'textarea', placeholder: "What's on your mind?" %>
      <div class="control">
        <%= f.submit 'Submit Post', class: 'button is-info mb-5' %>
      </div>
    </div>
  </div>
<% end %>