<nav class="level is-mobile">
  <div class="level-left">
    <a class="level-item" aria-label="reply">
      <span class="icon is-small">
        <i class="fa fa-reply" aria-hidden="true"></i>
      </span>
    </a>

    <a class="level-item" aria-label="like">
      <span class="icon is-small">
        <%= link_to(post_likes_path(post), method: :post) do %>
          <%= fa_icon "thumbs-up", class: "icon" %>
        <% end %>

      </span>
    </a>
  </div>
</nav>