@import '_layout';
@import 'bulma/bulma';
@import 'font-awesome';

body {
  min-height: 100vh;
  background-color: #FAFAFA;
}

/* middle column */
.column.is-8 {
  box-shadow:  15px 15px 30px #d5d5d5,
  -15px -15px 30px #ebebeb;
}

/* sidebar */
aside.menu {
  width: 100%;
}

.menu {
  width: fit-content;
}

.menu a {
  font-size: larger;
}

/* footer */
.footer {
  bottom: 0;
  width: 100%;
}